<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banco XYZ - Mis Finanzas</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/cuentas.css}">
</head>
<body>
<header>
  <div class="header-left">
    <span>Mis Finanzas</span>
  </div>
  <div class="header-right">
    <span>Hola, Usuario</span>
  </div>
</header>

<main>
  <nav>
    <ul>
      <li><a href="resumen.html">Resumen</a></li>
      <li><a href="ingresos.html">Ingresos</a></li>
      <li><a href="egresos.html">Egresos</a></li>
      <li><a href="cuentas.html" class="active">Cuentas</a></li>
      <li><a href="categorias.html">Categorías</a></li>
      <li><a href="configuracion.html">Configuración</a></li>
    </ul>
  </nav>
  <section>
    <div class="options" >
      <a th:href="@{/html/Agregar_cuenta.html}">Agregar</a>
    </div>
    <h2>Cuentas</h2>
    <h1>Billetera: S/ 1000</h1>
  </section>
</main>
</body>
</html>
